<div>
  <% @gifts.each do |gift| %>
    <!-- show a gift using html elements -->
    <% image_tag @gift.image.url(:medium) %>
    <%= link_to gift.name, gift.url %>
    <% if !gift.purchased? %>

      <%= form_for gift do |f| %>
        <%= f.hidden_field :purchased, :as => :hidden, :value => "true" %>
        <%= f.submit "purchased" %>
        <!-- , confirm: “Continue to  mark this gift as purchased. Thank you so much!”  -->
      <% end %>
    <% else %>
      <p>Gift Purchased</p>
    <% end %>
  <% end %>
</div>
