<div class="page-header text-center container">
  <div class="well">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
     <div class="row">
      <div class="col-xs-12 col-md-12 text-primary">
        <h2 class="fancy-font-title"></h2>
      </div>
      <div>
        <p>Please check back later as we are in the process of choosing a hotel in the Berkeley area.</p>
      </div>
    </div>
  </div>
</div>