<div class="page-header text-center container">

  <div class="well">
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 text-primary"><h2>The Brazilian Room</h2></div>
      <div class="pull-left col-xs-12 col-md-6">
        <h3>Tilden Regional Park<br/>Berkeley, California</h3>
      </div>
      <div class="pull-right col-xs-12 col-md-6">
        <%= image_tag "BrazilianRoom.jpeg"%>
      </div>
      <p>Driving Directions</p>
      <p>From San Francisco</p>
      <p>From Oakland I-580</p>
      <p>From Elsewhere</p>
    </div>
  </div>
</div>
