<div class="container">
  <div class="page-header text-center well">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 text-primary">
        <h2 class="fancy-font-title">The Brazilian Room</h2>
      </div>
      <div>
        <h3>
          <strong>The Brazilian Room will hold both the Ceremony and the Reception following</strong>
        </h3>
      </div>
    </div>
    <div class="row pull-right col-xs-12 col-md-6 top-buffer">
      <div>
        <%= image_tag "BrazilianRoom.jpg", class: "col-xs-12 col-md-10"%>
      </div>
    </div>
    <div class="row">
      <div class="pull-left col-xs-12 col-md-6">
        <h3>Tilden Regional Park<br/>Berkeley, California</h3>
        <p class="text-justify">One of the District's oldest parks, Tilden has been called the jewel of
          the system, and its recreational activities have become a happy tradition for generations of East Bay residents. From a carousel ride and a picnic to a swim at Lake Anza, or a round of golf and a stroll through the Botanic Garden, Tilden has variety to delight everyone. Tilden's 2,079 acres provide shelter to a variety of wildlife and natural beauty.
        </p>
        <p class="text-justify">You can read more about the park <a href="http://www.ebparks.org/parks/tilden">at their website, here</a></p>
      </div>
    </div>


  <div>
    <h3 class="col-xs-12 col-md-12">Driving Directions</h3>
    <div>
      <div class="row top-buffer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3148.5724029231947!2d-122.24758748471275!3d37.893681413082504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857be6aaaaaaab%3A0xe8de096c7d88ad61!2sBrazilian+Room!5e0!3m2!1sen!2sus!4v1445583829257"
              height="450" frameborder="0" style="border:0" allowfullscreen class="col-xs-12 col-md-12"></iframe>
      </div>
    </div>
  </div>
</div>