<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<div class="page-header text-center container">

  <div class="well">
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 text-primary"><h2>The Brazilian Room</h2></div>
      <div class="pull-left col-xs-12 col-md-6">
        <h3>Tilden Regional Park<br/>Berkeley, California</h3>
      </div>
      <div class="pull-right col-xs-12 col-md-6">
        <%= image_tag "BrazilianRoom.jpeg"%>
      </div>
      <p>Driving Directions</p>
      <p>From San Francisco</p>
      <p>From Oakland I-580</p>
      <p>From Elsewhere</p>
    </div>
    <div class="row container">
      <div id="map" class="pull-right col-xs-4" style='width: 600px; height: 300px;'>
      </div>
    </div>
  </div>
</div>
<% @users.each do |user| %>
  <% user.latitude %>
  <% user.longitude %>
  <% user.address %>
  <% user.description %>
  <% user.title %>
<% end %>



<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>