<h1>Pages#navigation</h1>
<p>Find me in app/views/pages/navigation.html.erb</p>


<div class="page-header text-center container">
  
  <div class="well">
  	<div class="page-header">
  		<h1><small>27 March 2016</small></br>Amàlia and Gary</br><small>¡nos casamos!</small></h1>
		</div>
	
	

		<div class="">
		  	<div class="row">
		  		<div class="hidden-xs col-md-4">
		  		</div>
					<div class="col-xs-8 col-md-4">
<!-- 						<p>As Amàlia and Gary formally begin a life together, we invite our community of family and friends to participate and welcome us into the next chapter of our lives together.</p> -->
						<p>Come welcome us into the next chapter of our lives together.</p>

					</div>
				</div>	
			</div>
		</div>
</div>
