<div class="page-header text-center container">
  <div class="well">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=6469354">
          <%= image_tag "macys.png", class: "med-img" %>
        </a>
      </div>
    </div>
  </div>
</div>

