<div class="page-header text-center container">
  <div class="well">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <p class="text-primary">Come welcome us into the next chapter of our lives together.</p>
  </div>
</div>