<div class="container text-center">
	<div class="well">
	  <blockquote>
		  <!-- <p>Amor</p> -->
		  <footer>Built with Love for our <cite title="Source Title">Wedding Day</cite></footer>
	  </blockquote>
	</div>

</div>